{% extends 'base.html' %}
{% block content %}
<h2>Přidat vozidlo</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.nazev.label }}
        {{ form.nazev(class="form-control", maxlength="50", style="width: 300px;") }}
        {% for error in form.nazev.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.spz.label }}
        {{ form.spz(class="form-control", maxlength="20", style="width: 300px;") }}
        {% for error in form.spz.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.palivo.label }}
        {{ form.palivo(class="form-control", maxlength="50", style="width: 300px;") }}
        {% for error in form.palivo.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.pocatecni_stav_km.label }}
        {{ form.pocatecni_stav_km(class="form-control", style="width: 300px;") }}
        {% for error in form.pocatecni_stav_km.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}
